@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Webkit browsers (Chrome, Safari) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
  /* Hide scrollbar */
}

/* Hide scrollbar for Firefox and IE */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* Spinner removal for a specific input */
.hide-spinner {
  appearance: none;
  /* Standard property for cross-browser compatibility */
  -webkit-appearance: none;
  /* Webkit-based browsers (Chrome, Safari, newer Edge) */
  -moz-appearance: textfield;
  /* Firefox */
}

.hide-spinner::-webkit-inner-spin-button,
.hide-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  /* Remove any margin on the spinner */
}


/* Target webkit browsers */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Background color of the track */
  border-radius: 6px; /* Round the corners */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Scrollbar thumb color */
  border-radius: 6px; /* Round the corners */
  border: 3px solid #f0f0f0; /* Add padding around the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Darker color on hover */
}

/* Firefox scrollbar styling */
* {
  scrollbar-width: thin; /* Thin scrollbar width */
  scrollbar-color: #98989A #262626; /* Scrollbar thumb and track color */
}
