@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Webkit browsers (Chrome, Safari) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
  /* Hide scrollbar */
}

/* Hide scrollbar for Firefox and IE */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* Spinner removal for a specific input */
.hide-spinner {
  appearance: none;
  /* Standard property for cross-browser compatibility */
  -webkit-appearance: none;
  /* Webkit-based browsers (Chrome, Safari, newer Edge) */
  -moz-appearance: textfield;
  /* Firefox */
}

.hide-spinner::-webkit-inner-spin-button,
.hide-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  /* Remove any margin on the spinner */
}